[run]
branch = True
source =
    oc_lettings_site
    lettings
    profiles
omit =
    */migrations/*
    */tests.py
    */tests/*
    */.venv/*
    */venv/*
    manage.py
    oc_lettings_site/asgi.py
    oc_lettings_site/wsgi.py

[report]
show_missing = True
skip_covered = True
fail_under = 80
exclude_lines =
    pragma: no cover
    if __name__ == .__main__.:
