[run]
branch = True
source =
    oc_lettings_site
    lettings
    profiles
omit =
    */migrations/*
    */tests/*
    manage.py
    */asgi.py
    */wsgi.py

    # Django config / glue code (non pertinent à tester ici)
    oc_lettings_site/settings.py
    oc_lettings_site/urls.py

    # Commandes utilitaires / debug
    oc_lettings_site/management/*
    oc_lettings_site/sentry_debug.py

[report]
show_missing = True
skip_covered = True
fail_under = 80
