{% extends "base.html" %}
{% block title %}404 - Not Found{% endblock title %}

{% block content %}
<div class="container px-5 py-5 text-center">
  <div class="row justify-content-center">
    <div class="col-lg-8">
      <h1 class="page-header-ui-title mb-3 display-6">404 - Page introuvable</h1>
      <p>La page demandée n’existe pas ou a été déplacée.</p>
      <a class="btn fw-500 ms-lg-4 btn-primary px-10" href="{% url 'index' %}">Retour à l’accueil</a>
    </div>
  </div>
</div>
{% endblock %}
